@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Noto Sans JP', sans-serif;
}

.embedly-embed {
    width: 100%; 
}

@media screen and (min-width:768px)  { 

    .embedly-embed {
        width:40vw; 
    }
  
}

